* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ______________Fonts styles_______________ */
html {
    font-size: 62.5%; /* this sets 1rem = 10px, this is convenient regarding to accessibility and easy to calculate */
    font-family: Helvetica, Arial, sans-serif;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* ____________TABLET_______________________________________________________________ */

@media (min-width: 800px) {

    
    nav {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .menu-btn i {
        display: none;
    }
    
    #click:not(:checked) ~ ul {
        left: 0;
    }
    
    #click:not(:checked) ~ ul li a {
        margin-left: 0px;
    }

    .menu {
        position: relative;
        top: auto;
        height: auto;
        width: auto;
        display: flex;
        transition: none;    
    }
    
    
    .menu li a {
        display: flex;
        font-size: 1.6rem;
    }
    
    
    
    .menu li {
        width: auto;
        margin: 0;
    }
}

/* ____________DESKTOP_______________________________________________________________ */

@media (min-width: 1080px) {
    
    nav {
        max-width: 1080px;
    }


    
    h1 {
    width: 80.8rem;
    }
}
